In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('default')

conn = sqlite3.connect('../data/regression.db')

cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

df = pd.read_sql_query("SELECT * FROM insurance_prediction", conn)

conn.close()

df.head()

[('Insurance_Prediction',), ('flight_fare',), ('household_power_consumption',), ('air_quality_index',), ('predicting_sales',), ('electric_motor_temperature',), ('signal_metrics',), ('mining_data',), ('life_science',), ('fuel_efficiency_automobile',)]

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46.0,male,21.45,5.0,yes,southeast,Diabetes,None,Never,Blue collar,Premium,20460.307669
1,25.0,female,25.38,2.0,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38.0,male,44.88,2.0,yes,southwest,None,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25.0,male,19.89,0.0,no,northwest,None,Diabetes,Rarely,White collar,Standard,11789.029843
4,49.0,male,38.21,3.0,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838

In [2]:
df.shape

(1000000, 12)

In [3]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   age                     960000 non-null   float64
 1   gender                  976000 non-null   object
 2   bmi                     1000000 non-null  float64
 3   children                968000 non-null   float64
 4   smoker                  1000000 non-null  object
 5   region                  1000000 non-null  object
 6   medical_history         749238 non-null   object
 7   family_medical_history  749596 non-null   object
 8   exercise_frequency      1000000 non-null  object
 9   occupation              968000 non-null   object
 10  coverage_level          1000000 non-null  object
 11  charges                 1000000 non-null  float64
dtypes: float64(4), object(8)
memory usage: 91.6+ MB

In [4]:
df.to_csv("../data_raw_insurance.csv", index=False)